#A {
font-size:28pt;
background-color:#66CC66;
line-height:45px;
position:fixed;
width:848px;
height:47px;
margin-top:-80px;
margin-left:30px;
color:black;
}

#B {
color:#000000;
font-size:28pt;
line-height:70px;
margin-left:100px;
margin-top:75px;
}

#C {
margin-top:-320px;
margin-right:23px;
}

#B1 {
background-image:url("./pictures/myfriends1.jpg");
background-repeat:no-repeat;
background-position:center;
} 



#B2{
background-image:url("./pictures/rosemary.jpg");
} 


#B3 {
background-image:url("./pictures/snowdrop.jpg")
} 

#B4 {
background-image:url("./pictures/gazania2.jpg")
} 

.block {
float: left;
margin: 30px;
padding: 15px;
width: 360px;
height: 250px;
border: 2px solid black;
} 

.word {
line-height:55px;
margin-top:200px;
margin-left:-15px;
margin-right:-16px;
color:#000000;
}

A:link {
text-decoration:none;
}

A:hover {
font-size:11pt;
}

